<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.ballersmeet.sruti.ballersmeet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".control.LoginActivity" />
        <activity android:name=".control.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".control.HomeScreenActivity" />
        <activity android:name=".control.FindGame" />
        <activity android:name=".control.ProfileActivity" />
        <activity android:name=".control.StartGameActivity"></activity>
    </application>

</manifest>


